Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/117910f4-5e28-47c4-b634-20b5aaabd8f5.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/29d86627-48bf-4029-8f35-42ccca4e7ab0.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/8ef13939-7399-4cdc-ab2d-ab3c8d0405f3.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/c6daf3c6-f7e2-4e4a-9b48-ebb8aa33afa8.vsidx
/Ecommerce.Application/bin/Debug
/Ecommerce.Application/obj/Debug
/Ecommerce.Domain/bin/Debug
/Ecommerce.Domain/obj/Debug
/Ecommerce.Infrastructure/obj/Debug
/Ecommerce.Test/bin/Debug
/Ecommerce/bin/Debug
/Ecommerce/obj/Debug
/Ecommerce/obj/Debug
/Ecommerce.Test/obj/Debug
/Ecommerce/obj/Debug
/Ecommerce/obj/Debug
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/117910f4-5e28-47c4-b634-20b5aaabd8f5.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/29d86627-48bf-4029-8f35-42ccca4e7ab0.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/ca898387-83ea-4d43-aee9-7f2b15bf07f7.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/4721785f-30bd-497a-8955-6e4dd8f811f1.vsidx
Ecommerce/.vs/Ecommerce.slnx/FileContentIndex/648c7bf0-378c-4bf1-b253-949c6de3a8dd.vsidx
/Ecommerce/.vs/Ecommerce.slnx/FileContentIndex
